@use 'vars' as *;

/* stylelint-disable order/properties-order */
%interactive-control {
  cursor: pointer;
  transition:
    transform $transition-duration ease,
    color $transition-duration ease,
    background-color $transition-duration ease,
    border-color $transition-duration ease,
    box-shadow $transition-duration ease;

  &:hover {
    transform: scale(1.04);
  }
}

%heading-primary {
  font-weight: 700;
  text-transform: uppercase;
  color: $c-text;
}

%heading-secondary {
  font-weight: 700;
  text-transform: uppercase;
  color: $c-text;
}
/* stylelint-enable order/properties-order */
