$c-background: #f7f7f7;
$c-panel: #d6ecec;
$c-text: #333;
$c-text-dark: #131313;
$c-text-muted-dark: #4f4f4f;
$c-text-secondary: #7c7c7c;
$c-text-light: #bdbdbd;
$c-border: #828282;
$c-accent: #0db2b3;
$c-accent-dark: #0c797a;
$c-white: #fff;
$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$container-max-width: 1194px;
$transition-duration: 0.3s;
